body {
	margin: 10px;
}

body * {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*	Layout Rules  */

.outer-wrapper {
	margin: 0 auto;
}

.inner-wrapper {
	margin: 0px auto 6px auto;
}

.header {
	width: inherit;
	height: 36px;
	margin: 20px auto 6px auto;
	padding: 8px;
	background: rgba(0,0,0, 0.5);
}

.header > p.title {
	position: relative;
	top: 50%;
	transform: translateY(-45%);
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.footer {
	margin: 0px auto 6px auto;
	background: orange;
}

.section-1 {
	background: red;
}

.section-2 {
	background: yellow;
}

.section-3 {
	background: green;
}

.section-4 {
	background: purple;
}

.section-5 {
	margin: 0px auto 6px auto;
	background: lightblue;
}

.content {
	text-align: center;
	border-radius: 5px;
}
